body {
  background-color: #aad3fe;
}

.app {
  background-color: #aad3fe;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crossed {
  text-decoration: line-through 2px red;
}

ul, li {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.add {
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
  border: none;
  border-radius: 75px;
  background-color: #f0cf9e;
  color: green;
  font-weight: bold;
  width: 25%;
}

.delete {
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
  border: none;
  background-color: #f0cf9e;
  color: red;
  font-weight: bold;
  margin-top: 5px;
  border-radius: 75px;
}

input {
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
  border: none;
  background-color: #f0cf9e;
  color: #2d475e;
  font-weight: bold;
}



